{% load bootstrap3 %}
{% bootstrap_css %}

<!DOCTYPE html>
<html>
    <head>
        <title>Genre Explorer</title>
        <meta charset="utf-8">
        <meta name="description" content="Find Examples of the World's music genres">
    </head>
    <body>
        <h1 class="text-center">Genre Explorer</h1>
        <nav>
            <div class="container">
                <ul class="nav navbar-nav">
                {% for letter in letters %}
                    <li><a href="#{{letter}}">{{letter}}</a></li>
                {% endfor %}
                </ul>
            </div>
        </nav>
        <div class="container">
            {% for letter in letters %}
                <a id="{{letter}}"><h2>{{letter}}</h2></a>
                
                {% for genre in genres %}
                    <h3>{{genre.name}}</h3>
                    {{genre.playlist_embed_tag}}
                {% endfor %}
                
            {% endfor %}
        </div>
        
        
        <div id="wrap">
        <footer class="footer pull-right">
            <div class="container text-right">
                <a href="https://github.com/Mikerah/GenreExplorer">View Source on Github</a>
            </div>
        </footer>
        </div>
    </body>
</html>